<% provide(:title, 'Canadian Video Games Deals') %>
<h1>The Tavern</h1>
<p>
	The Tavern is dedicated to bringing you the hottest videogame
	deals in Canada.
	
	
	<br>
	<%= link_to "Hot Deals", hot_path, class: "btn btn-large btn-primary" %>
	
	<br>
	<%= link_to "Deals of the Week", week_path, class: "btn btn-large btn-primary" %>
	
	<br>
	<%= link_to "Freebies", free_path, class: "btn btn-large btn-primary" %>
	
	
	<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Tooltip on top">Tooltip on top</button>
	
	
</p>
